<div class="modal-header">
  <h4 class="modal-title">Motif de la réclamation</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <dl class="row-md jh-entity-details">
    <dt><span>Motif:</span></dt>
    <dd>{{ reclamation.motifReclamation }}</dd>
  </dl>
</div>

<div class="modal-footer">
   <button type="button" class="btn btn-secondary" (click)="activeModal.close()">Fermer</button>
</div>